/* Portfolio */

.portfolio {
	background-color: var(--white);
	background-repeat: no-repeat;
	background-position: center;
	color: var(--black);
	padding: 40px 10%;
    overflow: hidden;
    text-align: center;
    position: relative;
    z-index: 2;
}

.portfolio h2{
    font-size: 30px;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

.portfolio .nuvolette{
	position: absolute;
	top: 100px;
	bottom:100px;
	right:300px;
}

.portfolio-cards{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
    position: relative;
    z-index: 2;
}

.filter-tab{
    display: flex;
	justify-content: center;
	flex-wrap: wrap;
    position: relative;
    z-index: 2;
}

.single-card a{
    color:var(--accent-green);
}

.card-btn {
    position: relative;
    padding-bottom:3px;
}

.card-btn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: var(--accent-green);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.card-btn:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.single-card h3 {
	color: var(--dark-green);
	font-weight: 600;
	font-size: 18px;
	margin-bottom:20px;
}

.container-text{
    padding:30px;
}

.single-card {
	width: 350px ;
	margin: 20px;
    text-align: left;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 1px 2px 0px rgba(150, 150, 150, 0.41);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.single-card img{
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}

.single-card:hover {
	transform: translateY(-5px);
	box-shadow: 0px 5px 15px 0px rgba(150, 150, 150, 0.41);
}

/*filter*/
.btn-container {
    text-align: left;
    display: block;
    margin: 2em auto;
}

.btn-container .btn {
    text-align: center;
    padding: 8px 20px;
    background: #D3E5EE;
    color: var(--dark-green);
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    border: 0px;
    margin-right: 8px;
}

.btn-container ul li {
    display: inline-block;
}

.btn-container ul li.active,
.btn-container ul li:hover {
    background-color: var(--accent-green);
}

/*fine filter*/